@media screen and (max-width: 992px) {
  .punto-solidario-normal {
    max-height: 300px;
    position: relative !important;
    padding-left: 0px;
    padding-right: 0px; }
    .punto-solidario-normal .top-mobile {
      display: block; }
    .punto-solidario-normal .divider {
      width: 100%;
      height: 2px; }
    .punto-solidario-normal .logo-top-mobile {
      display: block !important;
      margin: 10px auto; } }
    @media screen and (max-width: 992px) and (max-width: 350px) {
      .punto-solidario-normal .logo-top-mobile {
        width: 250px; } }
@media screen and (max-width: 992px) {
    .punto-solidario-normal hr {
      display: block;
      margin-bottom: 0px; } }
@media screen and (max-width: 992px) {
  .punto-solidario-normal .navbar {
    padding: 10px !important; }
    .punto-solidario-normal .navbar form {
      display: inline-block !important;
      width: 90% !important; }
      .punto-solidario-normal .navbar form input {
        width: 100% !important;
        border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 83% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 80% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 350px) {
  .punto-solidario-normal .navbar form {
    width: 77% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }

.btn-mobile .btn {
  margin: 20px auto !important;
  min-width: 290px;
  min-height: 41px;
  border: none;
  border-radius: 0px;
  font-family: 'montserrat', sans-serif; }
.btn-mobile .btn:hover {
  background-color: black; }
.btn-mobile .btn-1 {
  background-color: #C50000; }
.btn-mobile .btn-2 {
  background-color: #0700B5; }

@media screen and (max-width: 1310px) {
  .content .responsive-sitemap {
    margin-top: 30px;
    padding-left: 7% !important; } }
@media screen and (max-width: 992px) {
  .escudo-top {
    display: block !important;
    margin: 0px auto;
    padding-top: 20px;
    width: 250px; }

  .content-slider {
    margin-top: -1px;
    text-align: left; }
    .content-slider h1 {
      font-size: 40px;
      text-align: left; }
    .content-slider p {
      font-size: 20px;
      text-align: left; }

  .content-slider .carousel .carousel-inner .carousel-item {
    height: 450px !important; }
    .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
      margin-top: 150px; }

  .link-sites h3 {
    font-size: 1.25rem !important; }

  .forms {
    padding: 50px 20px; }
    .forms p {
      margin-bottom: 50px; }
    .forms form, .forms .btn {
      margin-top: 20px; }

  .values p {
    text-align: justify; }

  .banner-preguntas {
    margin-top: -1px; }

  .contac-form P {
    margin-bottom: 20px; }

  .content {
    margin-top: 20px; } }
@media screen and (max-width: 768px) {
  .btns {
    margin-top: 50px; }

  .about-ps {
    padding: 74px 20px; }

  .middle-resume .logo {
    margin-bottom: 54px; }

  .news {
    padding: 50px 20px; }
    .news h4 {
      font-size: 18px; }
    .news p {
      font-size: 12px; }

  footer .enlaces {
    flex-flow: row wrap; }
    footer .enlaces .en {
      margin: 20px; }
    footer .enlaces .e5 {
      margin-right: 0px;
      width: 170px; }
    footer .enlaces .e6 {
      margin-left: 0px; }

  .banner-preguntas {
    min-height: 100px !important; }
    .banner-preguntas .jumbotron {
      padding: 34px; }
      .banner-preguntas .jumbotron h1 {
        font-size: 40px; }
      .banner-preguntas .jumbotron p {
        font-size: 18px; }

  .values {
    padding-top: 0px; } }
@media screen and (max-width: 700px) {
  .link-sites {
    flex-flow: column; }
    .link-sites .foro,
    .link-sites .psweb,
    .link-sites .servicio-en-linea {
      width: 100%; } }
@media screen and (max-width: 450px) {
  .punto-solidario-normal {
    padding-left: 0px;
    padding-right: 0px; }

  .carousel .carousel-inner {
    height: 245px; }
    .carousel .carousel-inner .carousel-item {
      height: 245px; }
      .carousel .carousel-inner .carousel-item img {
        height: 245px;
        width: auto !important; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        margin-top: 65px !important; }
        .carousel .carousel-inner .carousel-item .carousel-caption h1 {
          font-size: 20px; }
        .carousel .carousel-inner .carousel-item .carousel-caption p {
          font-size: 12px; }

  .btn-mobile .btn {
    min-width: 167px; }
  .btn-mobile .btns {
    margin-top: 30px;
    margin-bottom: 30px; }
    .btn-mobile .btns .btn-1 {
      width: 147px;
      font-size: 10px; }
    .btn-mobile .btns .btn-2 {
      width: 147px;
      font-size: 10px; }

  .middle-resume .logo {
    display: none !important; }
  .middle-resume .mobile-logo {
    display: inline-block;
    width: 30px;
    margin-left: 6px; }
  .middle-resume h2 {
    font-size: 15px;
    text-align: left !important; }
  .middle-resume p {
    font-size: 12px;
    text-align: left !important; }
  .middle-resume .divider {
    width: 100%;
    height: 1px; }

  .about-ps {
    padding: 0px 0px 74px 0px; }
    .about-ps h4 {
      font-size: 15px; }
    .about-ps p {
      font-size: 12px;
      text-align: justify; }
    .about-ps .video {
      height: auto; }

  .news {
    padding: 50px 0px; }
    .news h1 {
      font-size: 25px; }

  .forms {
    padding: 30px 20px;
    min-height: auto; }
    .forms h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 0px; }
    .forms p {
      font-size: 12px;
      text-align: left !important; }

  footer .e1 {
    order: 1; }
  footer .e2 {
    order: 2; }
  footer .e3 {
    order: 4; }
  footer .e4 {
    order: 3; }
  footer .e5 {
    order: 5; }
  footer .e6 {
    order: 6;
    align-items: center; }
  footer .info-footer p {
    font-size: 13px; }

  .values h3 {
    font-size: 25px; }
  .values p {
    font-size: 12px; }
  .values .card-body {
    font-size: 12px; }

  .body-news-captain .notice p {
    font-size: 12px; }

  .contact h1 {
    font-size: 25px; }
  .contact p {
    font-size: 12px;
    text-align: justify; }

  .contac-form {
    padding: 50px 20px; }
    .contac-form h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 30px; }
    .contac-form p {
      text-align: left !important;
      margin-bottom: 60px; }
    .contac-form form, .contac-form textarea {
      margin-top: 10px; } }
@media screen and (max-width: 330px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 20px !important; }

  .btn-mobile .btn-2 {
    margin-top: 0px !important; }

  .intereses h3 {
    font-size: 25px; } }

/*# sourceMappingURL=responsive.css.map */
