@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: helvetica-bold;
  src: url(../assets/fonts/Helvetica-Bold.woff); }
@font-face {
  font-family: helvetica;
  src: url(../assets/fonts/Helvetica.woff); }
@font-face {
  font-family: helvetica-light;
  src: url(../assets/fonts/helvetica-light-587ebe5a59211.woff); }
@font-face {
  font-family: raleway;
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf); }
@font-face {
  font-family: raleway-black;
  src: url(../assets/fonts/raleway/Raleway-Black.ttf); }
@font-face {
  font-family: raleway-m;
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf); }
@font-face {
  font-family: raleway;
  src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf); }
@font-face {
  font-family: raleway-l;
  src: url(../assets/fonts/raleway/Raleway-Light.ttf); }
html {
  scroll-behavior: smooth; }

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif; }
  body p {
    font-family: raleway-m; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important; }

.form-control {
  color: black !important; }

.divider {
  width: 400px;
  height: 3px;
  background-color: #C50000;
  border-radius: 28px;
  display: block;
  margin: 15px auto; }

.red-text {
  color: #C50000; }

.container-special {
  max-width: 1500px !important; }

.mobile-logo {
  display: none; }

.top-mobile {
  display: none; }

.punto-solidario-normal {
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  max-height: 167px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s !important; }
  .punto-solidario-normal hr {
    display: none; }
  .punto-solidario-normal .gobernet-brand {
    padding-right: 35px; }
  .punto-solidario-normal .escudo {
    margin-top: 15px; }
  .punto-solidario-normal .search {
    margin-top: 5px;
    border: solid 1px #ccc; }
    .punto-solidario-normal .search .form-control {
      border: none;
      height: 33px;
      border-radius: 0px; }
  .punto-solidario-normal .search button {
    border: 0;
    background: transparent;
    padding-left: 0;
    padding-top: 0;
    height: 26px;
    margin-top: 0px; }
    .punto-solidario-normal .search button img {
      padding: 11px 11px 4px 10px;
      width: 40px;
      margin-top: -1px;
      border-left: solid 1px #ccc; }
  .punto-solidario-normal .top-menu {
    margin-bottom: 0px; }
    .punto-solidario-normal .top-menu li {
      display: inline-block; }
      .punto-solidario-normal .top-menu li a {
        padding: 0px 5px;
        border-left: solid 1px #ccc;
        text-transform: uppercase;
        font-size: 0.77rem;
        color: #000; }
      .punto-solidario-normal .top-menu li .primero {
        border-left: 0px; }
    .punto-solidario-normal .top-menu .active a {
      color: #C50000; }

nav {
  background-color: white;
  font-family: helvetica-bold;
  font-weight: bold;
  font-size: 15px;
  padding-top: 5px !important;
  padding-bottom: 0px !important; }
  nav li .nav-link {
    color: black !important;
    margin-left: 10px;
    margin-right: 10px; }
  nav li .nav-link:hover {
    color: #C50000 !important;
    transition: 0.3s; }
  nav .active a {
    color: #C50000 !important; }
  nav .ps-web-link {
    width: 120px;
    margin-top: -3px; }

.logo img {
  max-width: 280px;
  margin-top: 40px; }

.logo-plus {
  display: none; }

.punto-solidario-plus {
  height: 80px !important;
  top: 0;
  transition: 0.3s; }
  .punto-solidario-plus hr {
    display: none; }
  .punto-solidario-plus .primary-nav {
    display: none !important; }
  .punto-solidario-plus .logo {
    display: block !important; }
  .punto-solidario-plus .navbar {
    background-color: white; }
    .punto-solidario-plus .navbar .logo-plus {
      display: block; }
      .punto-solidario-plus .navbar .logo-plus img {
        margin-top: 0px !important; }
    .punto-solidario-plus .navbar ul li {
      display: inline-block !important; }

.content-slider {
  margin-top: 136px; }

.carousel-caption {
  margin-bottom: 12%; }
  .carousel-caption h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  .carousel-caption p {
    font-size: 27px;
    font-weight: bold; }
  .carousel-caption .btn {
    min-width: 290px;
    min-height: 41px;
    border: none;
    border-radius: 0px;
    font-family: 'montserrat', sans-serif; }
  .carousel-caption .btn:hover {
    background-color: black; }
  .carousel-caption .btn-1 {
    margin-right: 20px;
    background-color: #C50000; }
  .carousel-caption .btn-2 {
    margin-left: 20px;
    background-color: #0700B5; }

.middle-resume .logo {
  margin-top: 74px;
  margin-bottom: 94px;
  max-width: 374px; }
.middle-resume h2 {
  font-weight: 800;
  font-size: 40px; }
.middle-resume p {
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px; }

.about-ps {
  padding: 74px;
  margin-top: 30px; }
  .about-ps .container {
    max-width: 1500px !important; }
  .about-ps h4 {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 30px; }
  .about-ps .video {
    height: 395px; }

.values {
  background-color: #F4F2F2;
  padding-bottom: 70px;
  margin-top: -30px;
  padding-top: 100px; }
  .values .container {
    max-width: 1500px !important; }
  .values h3 {
    margin-top: 50px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 40px; }
  .values p img {
    margin-right: 20px; }
  .values p .negrita {
    font-family: raleway-black;
    font-weight: bold; }
  .values .current {
    margin-top: 30px; }
  .values .accordion {
    background-color: transparent !important;
    border: none !important; }
    .values .accordion .card {
      margin-bottom: 12px; }
    .values .accordion .card-header {
      background-color: white; }
  .values .accordion .btn {
    font-family: raleway-black;
    color: black;
    text-decoration: none; }

.link-sites {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  min-height: 960px; }
  .link-sites .foro,
  .link-sites .psweb,
  .link-sites .servicio-en-linea {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    width: 33.33%;
    color: white;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .link-sites .foro .divider,
    .link-sites .psweb .divider,
    .link-sites .servicio-en-linea .divider {
      width: 50px;
      z-index: 99; }
  .link-sites .background-filter {
    width: 100%;
    position: absolute;
    background-color: black;
    min-height: 960px;
    opacity: 0.58; }
  .link-sites .foro {
    background-image: url(../assets/img/bg-1@2x.jpg); }
  .link-sites .psweb {
    background-image: url(../assets/img/bg-2@2x.jpg); }
  .link-sites .servicio-en-linea {
    background-image: url(../assets/img/bg-3@2x.jpg); }
  .link-sites h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 99; }
  .link-sites .btn {
    z-index: 99;
    border: none;
    border-radius: 0px;
    background-color: #C50000;
    width: 200px;
    margin-top: 15px; }
  .link-sites .btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: white;
    color: #C50000; }

.news {
  padding: 50px;
  background-color: #F4F2F2; }
  .news h1 {
    font-weight: 800; }
  .news .divider {
    width: 200px;
    margin-top: 12px; }
  .news .card {
    padding: 10px;
    margin-top: 70px; }
    .news .card .coment {
      margin-right: 20px; }
  .news h4 {
    font-weight: 800;
    color: #C50000;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-left: 12px; }
  .news p {
    padding-left: 12px; }
  .news a {
    text-decoration: none; }
  .news img:hover {
    opacity: 0.4;
    transition: 0.3s; }
  .news .btn {
    background-color: #C50000;
    border: none;
    border-radius: 0px;
    font-family: raleway-m; }

.forms {
  background-color: black;
  color: white;
  min-height: 598px;
  padding: 50px; }
  .forms h1 {
    font-weight: 800;
    padding-top: 70px; }
  .forms P {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif; }
  .forms form {
    margin-top: 130px; }
    .forms form input {
      border: none;
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.26);
      transition: 0.3s; }
  .forms .btn {
    margin-top: 130px;
    width: 100%;
    background-color: #C50000;
    border: none;
    border-radius: 0; }
  .forms .btn:hover {
    background-color: white;
    color: #C50000; }

.contact {
  padding-top: 100px;
  background-color: #F4F2F2;
  padding-bottom: 100px; }
  .contact .divider {
    width: 200px; }
  .contact h1 {
    font-weight: 800; }
  .contact .btn {
    background-color: #C50000;
    border: none;
    border-radius: 0; }

.contac-form {
  background-color: black;
  color: white;
  min-height: 598px;
  padding: 50px; }
  .contac-form h1 {
    font-weight: 800;
    padding-top: 30px; }
  .contac-form P {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px; }
  .contac-form form {
    margin-top: 10px; }
    .contac-form form input {
      border: none;
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.26);
      transition: 0.3s; }
  .contac-form textarea {
    margin-top: 20px;
    height: 400px;
    border: none;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.26);
    transition: 0.3s; }
  .contac-form .btn {
    margin-top: 10px;
    width: 100%;
    background-color: #C50000;
    border: none;
    border-radius: 0; }
  .contac-form .btn:hover {
    background-color: white;
    color: #C50000; }

.banner-mini {
  display: flex;
  flex-direction: row wrap;
  flex-flow: row;
  margin-top: 70px;
  height: 300px; }
  .banner-mini .c1,
  .banner-mini .c2,
  .banner-mini .c3,
  .banner-mini .c4,
  .banner-mini .c5 {
    display: flex;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .banner-mini .c1 {
    background-image: url(../assets/img/c1@2x.jpg);
    flex: 1 1 auto; }
  .banner-mini .c2 {
    background-image: url(../assets/img/c2@2x.jpg);
    flex: 1 1 auto; }
  .banner-mini .c3 {
    background-image: url(../assets/img/c3@2x.jpg);
    flex: 1 1 auto; }
  .banner-mini .c4 {
    background-image: url(../assets/img/c4@2x.jpg);
    flex: 1 1 auto; }
  .banner-mini .c5 {
    background-image: url(../assets/img/c5@2x.jpg);
    flex: 1 1 auto; }

.interes h3 {
  font-weight: bold; }
.interes .divider {
  width: 200px; }
.interes .owl-carousel {
  margin-top: 70px;
  margin-bottom: 70px; }
  .interes .owl-carousel img {
    width: 150px;
    display: block;
    margin: 0 auto; }

footer {
  color: #0700B5;
  background-color: white; }
  footer .container {
    max-width: 1400px; }
  footer .enlaces {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 150px; }
  footer .e1,
  footer .e2,
  footer .e3,
  footer .e4,
  footer .e5,
  footer .e6 {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: flex-start; }
    footer .e1 a,
    footer .e2 a,
    footer .e3 a,
    footer .e4 a,
    footer .e5 a,
    footer .e6 a {
      font-weight: 600;
      color: #0700B5;
      font-size: 12px;
      text-decoration: none; }
    footer .e1 ul li,
    footer .e2 ul li,
    footer .e3 ul li,
    footer .e4 ul li,
    footer .e5 ul li,
    footer .e6 ul li {
      list-style-type: none; }
    footer .e1 ul li a,
    footer .e2 ul li a,
    footer .e3 ul li a,
    footer .e4 ul li a,
    footer .e5 ul li a,
    footer .e6 ul li a {
      color: #0700B5;
      font-weight: normal; }
  footer .e5 {
    align-items: flex-start; }
  footer .e6 {
    align-items: flex-start; }
  footer h4 {
    font-size: 16px;
    font-weight: bold;
    color: #0700B5;
    margin-bottom: 10px; }
  footer a {
    color: #0700B5; }
  footer p {
    font-weight: 600;
    margin-top: -10px; }

.banner-preguntas {
  min-height: 533px;
  background-image: url(../assets/img/banner@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 121px; }
  .banner-preguntas .jumbotron {
    background-color: transparent;
    padding-top: 116px; }
    .banner-preguntas .jumbotron h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 70px;
      color: white; }
    .banner-preguntas .jumbotron p {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: white; }
    .banner-preguntas .jumbotron .btn {
      border: none;
      border-radius: 0;
      background-color: #C50000; }

.values-preguntas {
  margin-top: -30px; }
  .values-preguntas .accordion {
    margin-top: 50px; }
    .values-preguntas .accordion .card-header {
      min-height: 88px !important; }
    .values-preguntas .accordion .btn {
      font-family: raleway;
      font-weight: lighter !important;
      text-align: left; }

.c-1 {
  margin-top: -35px; }

.divider-footer {
  width: 100%;
  height: 1px;
  border-radius: 38px;
  background-color: #e7e7e7;
  margin-top: 30px; }

.titulares {
  padding-bottom: 0px; }

.news-container {
  padding-top: 0px; }
  .news-container .container {
    max-width: 1500px !important; }
    .news-container .container .card {
      margin-top: 40px;
      padding-bottom: 20px; }
      .news-container .container .card h4 a {
        color: #C50000; }
      .news-container .container .card .btn {
        background-color: #C50000;
        border: none;
        border-radius: 0px;
        font-family: raleway-m; }

#pagination-news {
  box-shadow: none;
  margin-bottom: 70px; }
  #pagination-news .pagination {
    margin-top: 50px; }
    #pagination-news .pagination .page-link {
      padding: 1.5rem 1.75rem;
      color: #0700B5; }
    #pagination-news .pagination .active .page-link {
      color: white !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
      background-color: #0700B5; }

.news-captain-title {
  background-color: white; }
  .news-captain-title h3 {
    color: #C50000; }

.body-news-captain .notice img {
  width: 100%; }
.body-news-captain .notice h5 {
  font-weight: normal;
  font-size: 15px;
  color: #979797; }
.body-news-captain .notice p {
  text-align: justify; }
.body-news-captain .titulares-recientes h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }
.body-news-captain .titulares-recientes h4 {
  font-weight: bold;
  margin-top: 25px; }
.body-news-captain .titulares-recientes p {
  font-weight: normal;
  font-size: 15px;
  margin-top: 15px; }

.content {
  margin-top: 210px;
  margin-bottom: 100px;
  padding: 30px; }
  .content h2 {
    font-weight: 800; }
  .content .divider {
    margin: 0;
    width: 225px; }
  .content .lista {
    margin-top: 40px;
    margin-left: 80px; }
    .content .lista li {
      margin-bottom: 5px;
      font-weight: 600; }
      .content .lista li span a {
        color: black; }

/* ---------------------- tirado sitemap hardcore --------------------------*/
@media screen and (min-width: 1270px) {
  .sitemap > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin: 0 auto 20px auto;
    border-top: solid 5px #0700B5;
    border-radius: 5px; }

  .sitemap ul {
    margin: 0;
    padding: 0;
    list-style: none; }

  .sitemap ul li.level-2 {
    float: left;
    width: 255px;
    padding-top: 20px;
    position: relative; }

  .sitemap ul .level-2 > span {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 231px;
    border-top: solid 5px #C50000;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .sitemap ul .level-2 > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-top: solid 5px #1394d0;
    z-index: 5;
    background: #fff;
    position: relative;
    border-radius: 5px; }

  .sitemap li:not([class]) {
    position: relative;
    float: left;
    width: 255px;
    padding-top: 20px;
    margin-right: 22px;
    position: relative; }

  .sitemap li:not([class]) > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-top: solid 5px #1394d0;
    z-index: 5;
    background: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

  .sitemap .sitemap li:not([class]):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #ddd;
    border-width: 1px;
    z-index: 0; }

  .sitemap ul li.level-3 {
    padding-top: 20px;
    padding-left: 30px; }

  .sitemap ul .level-3 > a {
    color: orange;
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 90%;
    border-top: solid 5px #1394D0;
    background: #fff;
    z-index: 3;
    position: relative;
    border-radius: 5px; }

  .sitemap > ul li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #ddd;
    border-width: 1px;
    z-index: 0; }

  .sitemap ul .level-3 {
    position: relative; }

  .sitemap ul .level-3:before {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 40px;
    height: 114px;
    border-top-style: none;
    border-left-style: solid;
    top: -60px;
    left: 10px;
    border-bottom: solid 1px #ddd; }

  .sitemap ul > li.level-2:first-child:before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    width: 860px;
    height: 49px;
    top: 5px;
    right: -13px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(2):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(3):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(3):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2 {
    position: relative; }

  .sitemap ul > li.level-2:nth-child(5):after {
    border-top: solid 1px #ddd;
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 19px;
    height: 1px;
    top: 52px;
    right: 24px;
    left: 229px; }

  .sitemap ul > li.level-2:nth-child(6):after {
    border-top: solid 1px #ddd;
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 19px;
    height: 1px;
    top: 52px;
    right: 24px;
    left: 229px; }

  .sitemap > a {
    position: relative;
    background: #fff; }

  .sitemap > a:after {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 27px;
    top: 58px;
    right: 8px;
    left: 110px; }

  /* ---------------------- Transparency Sitemap --------------------------*/
  .transp-site-map {
    margin-left: 26px; }

  .transp-site-map > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin: 0 auto 0 auto;
    border-top: solid 5px #13477a;
    border-radius: 5px;
    position: relative; }

  .transp-site-map > a:after {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 37px;
    top: 58px;
    right: 3px;
    left: 96px; }

  .transp-site-map ul {
    margin: 0;
    padding: 0;
    list-style: none; }

  .transp-site-map ul li.level-3 {
    float: left;
    width: 262px;
    padding-top: 60px;
    position: relative; }

  .transp-site-map ul li.level-3 > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 241px;
    border-top: solid 5px #1394d0;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .transp-site-map ul li.level-3 > span {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 241px;
    border-top: solid 5px #1394d0;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .transp-site-map ul li.level-4 {
    padding-top: 17px;
    padding-left: 30px;
    position: relative; }

  .transp-site-map ul .level-4 > a {
    color: orange;
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 212px;
    border-top: solid 5px #7db902;
    background: #fff;
    z-index: 3;
    position: relative;
    border-radius: 5px; }

  .transp-site-map ul .level-4:before {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 40px;
    height: 114px;
    border-top-style: none;
    border-left-style: solid;
    top: -60px;
    left: 10px;
    border-bottom: solid 1px #ddd; }

  .transp-site-map ul > li.level-3:nth-child(2):before,
  .transp-site-map ul > li.level-3:nth-child(5):before,
  .transp-site-map ul > li.level-3:nth-child(8):before,
  .transp-site-map ul > li.level-3:nth-child(11):before,
  .transp-site-map ul > li.level-3:nth-child(14):before,
  .transp-site-map ul > li.level-3:nth-child(17):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 35px;
    right: 8px;
    left: 118px; }

  .transp-site-map li.level-3:nth-child(16),
  .transp-site-map li.level-3:nth-child(17),
  .transp-site-map li.level-3:nth-child(18) {
    min-height: 1240px; }

  .transp-site-map li.level-3:first-child:before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    border-bottom: none;
    width: 570px;
    height: 49px;
    top: 35px;
    right: -13px;
    left: 90px; }

  .transp-site-map li.level-3:nth-child(4):before,
  .transp-site-map li.level-3:nth-child(7):before,
  .transp-site-map li.level-3:nth-child(10):before,
  .transp-site-map li.level-3:nth-child(13):before,
  .transp-site-map li.level-3:nth-child(16):before,
  .transp-site-map li.level-3:nth-child(19):before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    border-bottom: none;
    width: 570px;
    height: 49px;
    top: 35px;
    right: -13px;
    left: 90px; }

  .transp-site-map li.level-3:nth-child(19):before {
    width: 300px; }

  .transp-site-map li.level-3:nth-child(1):after,
  .transp-site-map li.level-3:nth-child(4):after,
  .transp-site-map li.level-3:nth-child(7):after,
  .transp-site-map li.level-3:nth-child(10):after,
  .transp-site-map li.level-3:nth-child(13):after,
  .transp-site-map li.level-3:nth-child(16):after {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 120px;
    height: 125px;
    border-top-style: solid;
    border-left-style: solid;
    top: 35px;
    left: -20px;
    border-bottom: solid 1px #ddd; }

  .transp-site-map li.level-3:nth-child(4):after {
    height: 692px; }

  .transp-site-map li.level-3:nth-child(13):after {
    height: 149px; }

  .transp-site-map li.level-3:nth-child(16):after {
    height: 1241px; }

  .responsive-sitemap {
    display: block;
    width: 100%;
    margin-top: 80px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-left: 13%; }

  .sitemap {
    width: 100%; }

  .transp-site-map {
    width: 797px; }

  .error-404 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    min-width: 270px;
    max-width: 500px;
    border-radius: 10px;
    padding-top: 0; }

  .error-404 .title-404 {
    font-size: 94px;
    color: #008CCA;
    margin: 0; }

  .error-404 .bar-404 {
    background: #008CCA;
    padding: 17px 38px;
    margin-left: -40px;
    margin-right: -40px;
    color: #fff;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    font-size: 21px;
    border-radius: 10px; }

  .error-404 p.text-404 {
    padding: 20px 0;
    margin: 0; }

  .error-404 p.option-404 {
    display: block;
    margin: 0; }

  .error-404 a {
    color: #008CCA; }

  #accordion .btn.btn-link {
    text-align: left !important;
    white-space: normal !important; }

  .text-danger {
    color: #ffa329;
    font-weight: 100;
    top: 5px; }

  .tasa-block .ver-mas {
    color: #fff;
    padding: 5px 24px;
    background: #1394D0;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block; } }
@media screen and (max-width: 1440px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 6%; } }
@media screen and (max-width: 1100px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 20px; } }
@media screen and (max-width: 992px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 60px; } }
@media screen and (max-width: 800px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 30px; } }
@media screen and (max-width: 750px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: -10px; } }
@media screen and (max-width: 570px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 0px; }
    .content-slider .carousel .carousel-inner .carousel-item .carousel-caption h1 {
      font-size: 25px; }
    .content-slider .carousel .carousel-inner .carousel-item .carousel-caption p {
      font-size: 15px; } }

@media screen and (max-width: 992px) {
  .punto-solidario-normal {
    max-height: 300px;
    position: relative !important;
    padding-left: 0px;
    padding-right: 0px; }
    .punto-solidario-normal .top-mobile {
      display: block; }
    .punto-solidario-normal .divider {
      width: 100%;
      height: 2px; }
    .punto-solidario-normal .logo-top-mobile {
      display: block !important;
      margin: 10px auto; } }
    @media screen and (max-width: 992px) and (max-width: 350px) {
      .punto-solidario-normal .logo-top-mobile {
        width: 250px; } }
@media screen and (max-width: 992px) {
    .punto-solidario-normal hr {
      display: block;
      margin-bottom: 0px; } }
@media screen and (max-width: 992px) {
  .punto-solidario-normal .navbar {
    padding: 10px !important; }
    .punto-solidario-normal .navbar form {
      display: inline-block !important;
      width: 90% !important; }
      .punto-solidario-normal .navbar form input {
        width: 100% !important;
        border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 83% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 80% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 350px) {
  .punto-solidario-normal .navbar form {
    width: 77% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }

.btn-mobile .btn {
  margin: 20px auto !important;
  min-width: 290px;
  min-height: 41px;
  border: none;
  border-radius: 0px;
  font-family: 'montserrat', sans-serif; }
.btn-mobile .btn:hover {
  background-color: black; }
.btn-mobile .btn-1 {
  background-color: #C50000; }
.btn-mobile .btn-2 {
  background-color: #0700B5; }

@media screen and (max-width: 1310px) {
  .content .responsive-sitemap {
    margin-top: 30px;
    padding-left: 7% !important; } }
@media screen and (max-width: 992px) {
  .escudo-top {
    display: block !important;
    margin: 0px auto;
    padding-top: 20px;
    width: 250px; }

  .content-slider {
    margin-top: -1px;
    text-align: left; }
    .content-slider h1 {
      font-size: 40px;
      text-align: left; }
    .content-slider p {
      font-size: 20px;
      text-align: left; }

  .link-sites h3 {
    font-size: 1.25rem !important; }

  .forms {
    padding: 50px 20px; }
    .forms p {
      margin-bottom: 50px; }
    .forms form, .forms .btn {
      margin-top: 20px; }

  .values p {
    text-align: justify; }

  .banner-preguntas {
    margin-top: -1px; }

  .contac-form P {
    margin-bottom: 20px; }

  .content {
    margin-top: 20px; } }
@media screen and (max-width: 768px) {
  .btns {
    margin-top: 50px; }

  .about-ps {
    padding: 74px 20px; }

  .middle-resume .logo {
    margin-bottom: 54px; }

  .news {
    padding: 50px 20px; }
    .news h4 {
      font-size: 18px; }
    .news p {
      font-size: 12px; }

  footer .enlaces {
    flex-flow: row wrap; }
    footer .enlaces .en {
      margin: 20px; }
    footer .enlaces .e5 {
      margin-right: 0px;
      width: 170px; }
    footer .enlaces .e6 {
      margin-left: 0px; }

  .banner-preguntas {
    min-height: 100px !important; }
    .banner-preguntas .jumbotron {
      padding: 34px; }
      .banner-preguntas .jumbotron h1 {
        font-size: 40px; }
      .banner-preguntas .jumbotron p {
        font-size: 18px; }

  .values {
    padding-top: 0px; } }
@media screen and (max-width: 700px) {
  .link-sites {
    flex-flow: column; }
    .link-sites .foro,
    .link-sites .psweb,
    .link-sites .servicio-en-linea {
      width: 100%; } }
@media screen and (max-width: 450px) {
  .punto-solidario-normal {
    padding-left: 0px;
    padding-right: 0px; }

  .carousel .carousel-inner {
    height: 245px; }
    .carousel .carousel-inner .carousel-item {
      height: 245px; }
      .carousel .carousel-inner .carousel-item img {
        height: 245px;
        width: auto !important; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        display: block !important; }
        .carousel .carousel-inner .carousel-item .carousel-caption h1 {
          font-size: 20px; }
        .carousel .carousel-inner .carousel-item .carousel-caption p {
          font-size: 12px; }

  .btn-mobile .btn {
    min-width: 167px; }
  .btn-mobile .btns {
    margin-top: 30px;
    margin-bottom: 30px; }
    .btn-mobile .btns .btn-1 {
      width: 147px;
      font-size: 10px; }
    .btn-mobile .btns .btn-2 {
      width: 147px;
      font-size: 10px; }

  .middle-resume .logo {
    display: none !important; }
  .middle-resume .mobile-logo {
    display: inline-block;
    width: 30px;
    margin-left: 6px; }
  .middle-resume h2 {
    font-size: 15px;
    text-align: left !important; }
  .middle-resume p {
    font-size: 12px;
    text-align: left !important; }
  .middle-resume .divider {
    width: 100%;
    height: 1px; }

  .about-ps {
    padding: 0px 0px 74px 0px; }
    .about-ps h4 {
      font-size: 15px; }
    .about-ps p {
      font-size: 12px;
      text-align: justify; }
    .about-ps .video {
      height: auto; }

  .news {
    padding: 50px 0px; }
    .news h1 {
      font-size: 25px; }

  .forms {
    padding: 30px 20px;
    min-height: auto; }
    .forms h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 0px; }
    .forms p {
      font-size: 12px;
      text-align: left !important; }

  footer .e1 {
    order: 1; }
  footer .e2 {
    order: 2; }
  footer .e3 {
    order: 4; }
  footer .e4 {
    order: 3; }
  footer .e5 {
    order: 5; }
  footer .e6 {
    order: 6;
    align-items: center; }
  footer .info-footer p {
    font-size: 13px; }

  .values h3 {
    font-size: 25px; }
  .values p {
    font-size: 12px; }
  .values .card-body {
    font-size: 12px; }

  .body-news-captain .notice p {
    font-size: 12px; }

  .contact h1 {
    font-size: 25px; }
  .contact p {
    font-size: 12px;
    text-align: justify; }

  .contac-form {
    padding: 50px 20px; }
    .contac-form h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 30px; }
    .contac-form p {
      text-align: left !important;
      margin-bottom: 60px; }
    .contac-form form, .contac-form textarea {
      margin-top: 10px; } }
@media screen and (max-width: 330px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 20px !important; }

  .btn-mobile .btn-2 {
    margin-top: 0px !important; }

  .intereses h3 {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
