@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: helvetica-bold;
  src: url(../assets/fonts/Helvetica-Bold.woff); }
@font-face {
  font-family: helvetica;
  src: url(../assets/fonts/Helvetica.woff); }
@font-face {
  font-family: helvetica-light;
  src: url(../assets/fonts/helvetica-light-587ebe5a59211.woff); }
@font-face {
  font-family: raleway;
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf); }
@font-face {
  font-family: raleway-black;
  src: url(../assets/fonts/raleway/Raleway-Black.ttf); }
@font-face {
  font-family: raleway-m;
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf); }
@font-face {
  font-family: raleway;
  src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf); }
@font-face {
  font-family: raleway-l;
  src: url(../assets/fonts/raleway/Raleway-Light.ttf); }
html {
  scroll-behavior: smooth; }

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif; }
  body p {
    font-family: raleway-m; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.756) !important;
  opacity: 1 !important; }

.form-control {
  color: black !important; }

.divider {
  width: 400px;
  height: 3px;
  background-color: #C50000;
  border-radius: 28px;
  display: block;
  margin: 15px auto; }

.red-text {
  color: #C50000; }

.container-special {
  max-width: 1500px !important; }

.mobile-logo {
  display: none; }

video {
  width: 100%; }

.top-mobile {
  display: none; }

iframe {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16); }

.btn-link-header {
  border: none;
  border-radius: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  position: fixed;
  bottom: 100px;
  right: 30px; }

header {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16); }

.ruta ul {
  margin-top: 170px; }
  @media screen and (max-width: 991px) {
    .ruta ul {
      margin-top: 20px; } }
  .ruta ul li {
    display: inline-block;
    font-weight: bold; }
    .ruta ul li a {
      color: black; }
    .ruta ul li .active {
      color: #C50000; }

.ruta-secundaria {
  width: 100%;
  padding-bottom: 7px;
  padding-left: 50px;
  border-top: solid 1px #e4e4e4;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16); }
  .ruta-secundaria ul {
    position: relative;
    z-index: 999;
    padding-top: 4px;
    margin-bottom: 0px; }
    @media screen and (max-width: 991px) {
      .ruta-secundaria ul {
        margin-top: 0px; } }
    .ruta-secundaria ul li {
      display: inline-block;
      font-weight: bold; }
      .ruta-secundaria ul li a {
        color: black; }
      .ruta-secundaria ul li .active {
        color: #C50000; }

.punto-solidario-normal {
  background-color: white;
  max-height: 196px;
  transition: 0.3s !important;
  border-bottom: solid 1px #ececec; }
  .punto-solidario-normal .row {
    padding: 0px 50px; }
  .punto-solidario-normal hr {
    display: none; }
  .punto-solidario-normal .gobernet-brand {
    padding-right: 35px; }
  .punto-solidario-normal .escudo {
    margin-top: 5px; }
  .punto-solidario-normal .search {
    margin-top: 5px;
    margin-left: 15px;
    width: 223px;
    border: solid 1px #ccc; }
    .punto-solidario-normal .search .form-control {
      border: none;
      height: 33px;
      border-radius: 0px; }
  .punto-solidario-normal .search button {
    border: 0;
    background: transparent;
    padding-left: 0;
    padding-top: 0;
    height: 26px;
    margin-top: 0px; }
    .punto-solidario-normal .search button img {
      padding: 11px 11px 4px 10px;
      width: 40px;
      margin-top: -1px;
      border-left: solid 1px #ccc; }
  .punto-solidario-normal .top-menu {
    margin-left: 11px;
    margin-bottom: 0px; }
    .punto-solidario-normal .top-menu li {
      display: inline-block; }
      .punto-solidario-normal .top-menu li a {
        padding: 0px 5px;
        border-left: solid 1px #ccc;
        text-transform: uppercase;
        font-size: 11px;
        color: #000; }
      .punto-solidario-normal .top-menu li .primero {
        border-left: 0px; }
    .punto-solidario-normal .top-menu .active a {
      color: #C50000; }

nav {
  background-color: white;
  font-family: helvetica-bold;
  font-weight: bold;
  font-size: 15px;
  padding-top: 5px !important;
  padding-bottom: 0px !important; }
  nav li .nav-link {
    color: black !important;
    margin-left: 10px;
    margin-right: 10px; }
  nav li .nav-link:hover {
    color: #0700B5 !important;
    transition: 0.3s; }
  nav .active a {
    color: #0700B5 !important; }
  nav .dropdown-item:hover {
    background-color: #cbcbcb; }
  nav .ps-web-link {
    width: 120px;
    margin-top: -3px; }

.logo img {
  max-width: 280px;
  margin-top: 40px; }

.logo-plus {
  display: none; }

.punto-solidario-plus {
  height: 67px !important;
  top: 0;
  transition: 0.3s; }
  .punto-solidario-plus hr {
    display: none; }
  .punto-solidario-plus .primary-nav {
    display: none !important; }
  .punto-solidario-plus .logo {
    display: block !important; }
  .punto-solidario-plus .navbar {
    background-color: white; }
    .punto-solidario-plus .navbar .logo-plus {
      display: block; }
      .punto-solidario-plus .navbar .logo-plus img {
        max-width: 220px; }
      .punto-solidario-plus .navbar .logo-plus img {
        margin-top: 0px !important; }
    .punto-solidario-plus .navbar ul li {
      display: inline-block !important; }

.content-slider {
  margin-top: 187px; }

.carousel-item {
  height: 500px !important; }
  .carousel-item img {
    height: 100% !important;
    width: 100%;
    object-fit: cover; }

.carousel-caption {
  bottom: 124px; }
  .carousel-caption h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619); }
  .carousel-caption p {
    font-size: 27px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619); }
  .carousel-caption .btn {
    min-width: 290px;
    min-height: 41px;
    border: none;
    border-radius: 0px;
    font-family: 'montserrat', sans-serif; }
  .carousel-caption .btn:hover {
    background-color: black; }
  .carousel-caption .btn-1 {
    margin-right: 20px;
    background-color: #C50000; }
  .carousel-caption .btn-2 {
    margin-left: 20px;
    background-color: #0700B5; }
  @media screen and (max-width: 1750px) {
    .carousel-caption {
      bottom: 100px; } }

.middle-resume .logo {
  margin-top: 74px;
  margin-bottom: 94px;
  max-width: 374px; }
.middle-resume h2 {
  font-weight: 800;
  font-size: 40px; }
.middle-resume p {
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px; }

.about-ps {
  padding: 74px;
  margin-top: 30px; }
  .about-ps .container {
    max-width: 1500px !important; }
  .about-ps h4 {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 30px; }
  .about-ps p {
    text-align: justify; }
  .about-ps .video {
    height: 395px; }

.values {
  background-color: #F4F2F2;
  padding-bottom: 70px;
  margin-top: -30px;
  padding-top: 100px; }
  .values .container {
    max-width: 1500px !important; }
  .values h3 {
    margin-top: 50px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 40px; }
  .values p {
    text-align: justify; }
    .values p img {
      margin-right: 20px; }
    .values p .negrita {
      font-family: raleway-black;
      font-weight: bold; }
  .values .current {
    margin-top: 30px; }
  .values .accordion {
    background-color: transparent !important;
    border: none !important; }
    .values .accordion .card {
      margin-bottom: 12px; }
    .values .accordion .card-header {
      background-color: white; }
  .values .accordion .btn {
    font-family: raleway-black;
    color: black;
    text-decoration: none; }

.link-sites {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  min-height: 400px; }
  .link-sites .foro,
  .link-sites .psweb,
  .link-sites .servicio-en-linea {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    width: 33.33%;
    color: white;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 180%;
    background-repeat: no-repeat;
    transition: 0.5s; }
    .link-sites .foro .divider,
    .link-sites .psweb .divider,
    .link-sites .servicio-en-linea .divider {
      width: 50px;
      z-index: 99; }
    .link-sites .foro .background-filter,
    .link-sites .psweb .background-filter,
    .link-sites .servicio-en-linea .background-filter {
      width: 100%;
      position: absolute;
      background-color: black;
      min-height: 460px;
      opacity: 0.38; }
  .link-sites .foro:hover,
  .link-sites .psweb:hover,
  .link-sites .servicio-en-linea:hover {
    background-size: 210%; }
  .link-sites .foro {
    background-image: url(../assets/img/fotos/JPEG/6.jpg); }
  .link-sites .psweb {
    background-image: url(../assets/img/fotos/JPEG/7.jpg); }
  .link-sites .servicio-en-linea {
    background-image: url(../assets/img/fotos/JPEG/1.jpg); }
  .link-sites h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 99;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619); }
  .link-sites .btn {
    z-index: 99;
    border: none;
    border-radius: 0px;
    background-color: #C50000;
    width: 200px;
    margin-top: 15px; }
  .link-sites .btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: white;
    color: #C50000; }
  @media screen and (max-width: 1100px) {
    .link-sites {
      min-height: 300px; } }
  @media screen and (max-width: 991px) {
    .link-sites {
      min-height: 300px; } }
  @media screen and (max-width: 700px) {
    .link-sites {
      min-height: 900px; } }

.news {
  padding: 50px;
  background-color: #F4F2F2; }
  .news h1 {
    font-weight: 800; }
  .news .divider {
    width: 200px;
    margin-top: 12px; }
  .news .card {
    padding: 10px;
    margin-top: 70px;
    padding-bottom: 30px; }
    .news .card .coment {
      margin-right: 20px; }
  .news h4 {
    font-weight: 800;
    color: #C50000;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-left: 12px; }
  .news p {
    padding-left: 12px;
    text-align: justify !important; }
  .news a {
    text-decoration: none; }
  .news img:hover {
    opacity: 0.4;
    transition: 0.3s; }
  .news .btn {
    background-color: #C50000;
    border: none;
    border-radius: 0px;
    font-family: raleway-m;
    padding-right: 15px;
    border: solid 1px #C50000; }
  .news .btn:hover {
    background-color: white;
    color: #C50000;
    transition: 0.3s; }

.forms {
  background-color: black;
  color: white;
  min-height: 598px;
  padding: 50px; }
  .forms h1 {
    font-weight: 800;
    padding-top: 70px; }
  .forms P {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif; }
  .forms form {
    margin-top: 130px; }
    .forms form input {
      border: none;
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.26);
      transition: 0.3s; }
  .forms .btn {
    margin-top: 130px;
    width: 100%;
    background-color: #C50000;
    border: none;
    border-radius: 0; }
  .forms .btn:hover {
    background-color: white;
    color: #C50000; }

.contact {
  padding-top: 100px;
  background-color: #F4F2F2;
  padding-bottom: 100px; }
  .contact .divider {
    width: 200px; }
  .contact h1 {
    font-weight: 800; }
  .contact .btn {
    background-color: #C50000;
    border: none;
    border-radius: 0; }

.contac-form {
  background-color: white;
  color: black;
  min-height: 598px;
  padding: 50px;
  margin-top: -36px;
  position: relative;
  border-bottom: solid 1px #eaeaea; }
  .contac-form h1 {
    font-weight: 800;
    padding-top: 30px;
    color: black; }
  .contac-form P {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    color: black; }
  .contac-form form {
    margin-top: 10px; }
    .contac-form form input {
      border: 1px solid #c9c9c9;
      border-radius: 0px;
      background-color: white;
      transition: 0.3s;
      color: black; }
  .contac-form textarea {
    margin-top: 20px;
    height: 400px;
    border: 1px solid #c9c9c9;
    border-radius: 0px;
    background-color: white;
    transition: 0.3s; }
  .contac-form .btn {
    margin-top: 10px;
    width: 100%;
    background-color: #C50000;
    border: none;
    border-radius: 0; }
  .contac-form .btn:hover {
    background-color: white;
    color: #C50000; }

.banner-mini {
  display: flex;
  flex-direction: row nowrap;
  flex-flow: row;
  margin-top: 70px;
  height: 270px;
  background-color: transparent;
  transition: all .3s ease-in-out; }
  @media screen and (max-width: 991px) {
    .banner-mini {
      display: none; } }
  .banner-mini .c1,
  .banner-mini .c2,
  .banner-mini .c3,
  .banner-mini .c4,
  .banner-mini .c5 {
    display: flex;
    height: 180px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    transition: all .3s ease-in-out; }
    @media screen and (max-width: 1200px) {
      .banner-mini .c1,
      .banner-mini .c2,
      .banner-mini .c3,
      .banner-mini .c4,
      .banner-mini .c5 {
        height: 140px; } }
  .banner-mini .c1 {
    background-image: url(../assets/img/fotos/JPEG/11.jpg);
    flex: 1 1 auto; }
  .banner-mini .c2 {
    background-image: url(../assets/img/fotos/JPEG/16.jpg);
    flex: 1 1 auto; }
  .banner-mini .c3 {
    background-image: url(../assets/img/fotos/JPEG/15.jpg);
    flex: 1 1 auto; }
  .banner-mini .c4 {
    background-image: url(../assets/img/fotos/JPEG/18.jpg);
    flex: 1 1 auto; }
  .banner-mini .c5 {
    background-image: url(../assets/img/fotos/JPEG/30.jpg);
    flex: 1 1 auto; }
  .banner-mini .c1:hover,
  .banner-mini .c2:hover,
  .banner-mini .c3:hover,
  .banner-mini .c4:hover,
  .banner-mini .c5:hover {
    background-size: 150% !important; }

.interes h3 {
  font-weight: bold; }
.interes .divider {
  width: 200px; }
.interes .owl-carousel {
  margin-top: 70px;
  margin-bottom: 70px; }
  .interes .owl-carousel img {
    width: 150px;
    display: block;
    margin: 0 auto; }

footer {
  color: #0700B5;
  background-color: white; }
  footer .container {
    max-width: 1400px; }
  footer .enlaces {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 150px; }
  footer .e1,
  footer .e2,
  footer .e3,
  footer .e4,
  footer .e5,
  footer .e6 {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: flex-start; }
    footer .e1 a,
    footer .e2 a,
    footer .e3 a,
    footer .e4 a,
    footer .e5 a,
    footer .e6 a {
      font-weight: 600;
      color: #0700B5;
      font-size: 12px;
      text-decoration: none; }
    footer .e1 ul li,
    footer .e2 ul li,
    footer .e3 ul li,
    footer .e4 ul li,
    footer .e5 ul li,
    footer .e6 ul li {
      list-style-type: none; }
    footer .e1 ul li a,
    footer .e2 ul li a,
    footer .e3 ul li a,
    footer .e4 ul li a,
    footer .e5 ul li a,
    footer .e6 ul li a {
      color: #0700B5;
      font-weight: normal; }
  footer .e5 {
    align-items: flex-start; }
  footer .e6 {
    align-items: flex-start; }
  footer h4 {
    font-size: 16px;
    font-weight: bold;
    color: #0700B5;
    margin-bottom: 10px; }
  footer a {
    color: #0700B5; }
  footer p {
    font-weight: 600;
    margin-top: -10px; }

.banner-preguntas {
  min-height: 533px;
  background-image: url(../assets/img/fotos/JPEG/33.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 121px; }
  .banner-preguntas .jumbotron {
    background-color: transparent;
    padding-top: 116px; }
    .banner-preguntas .jumbotron h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 70px;
      color: white;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619); }
    .banner-preguntas .jumbotron p {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: white;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619); }
    .banner-preguntas .jumbotron .btn {
      border: none;
      border-radius: 0;
      background-color: #C50000; }

.noticias-banner {
  background-image: url(../assets/img/fotos/JPEG/24.jpg); }

.banner-contacto {
  background-image: url(../assets/img/fotos/JPEG/30.jpg); }

.banner-preguntas-frecuentes {
  background-image: url(../assets/img/fotos/JPEG/27.jpg); }

.values-preguntas {
  margin-top: -30px; }
  .values-preguntas .accordion {
    margin-top: 50px; }
    .values-preguntas .accordion .card-header {
      min-height: 88px !important; }
    .values-preguntas .accordion .btn {
      font-family: raleway;
      font-weight: lighter !important;
      text-align: left; }

.c-1 {
  margin-top: -35px; }

.divider-footer {
  width: 100%;
  height: 1px;
  border-radius: 38px;
  background-color: #e7e7e7;
  margin-top: 30px; }

.titulares {
  padding-bottom: 0px; }

.news-container {
  padding-top: 0px; }
  .news-container .container {
    max-width: 1500px !important; }
    .news-container .container .card {
      margin-top: 40px;
      padding-bottom: 20px; }
      .news-container .container .card h4 a {
        color: #C50000; }
      .news-container .container .card .btn {
        background-color: #C50000;
        border: none;
        border-radius: 0px;
        font-family: raleway-m;
        padding-right: 15px;
        border: solid 1px #C50000; }
      .news-container .container .card .btn:hover {
        background-color: white;
        color: #C50000;
        transition: 0.3s; }

#pagination-news {
  box-shadow: none;
  margin-bottom: 70px; }
  #pagination-news .pagination {
    margin-top: 50px; }
    #pagination-news .pagination .page-link {
      padding: 1.5rem 1.75rem;
      color: #0700B5; }
    #pagination-news .pagination .active .page-link {
      color: white !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
      background-color: #0700B5; }

.news-captain-title {
  background-color: white; }
  .news-captain-title h3 {
    color: #C50000; }

.body-news-captain .notice img {
  width: 100%; }
.body-news-captain .notice h5 {
  font-weight: normal;
  font-size: 15px;
  color: #979797; }
.body-news-captain .notice p {
  text-align: justify; }
.body-news-captain .titulares-recientes h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }
.body-news-captain .titulares-recientes h4 {
  font-weight: bold;
  margin-top: 25px; }
.body-news-captain .titulares-recientes p {
  font-weight: normal;
  font-size: 15px;
  margin-top: 15px; }

.content {
  margin-top: 210px;
  margin-bottom: 100px;
  padding: 30px; }
  .content h2 {
    font-weight: 800; }
  .content .divider {
    margin: 0;
    width: 225px; }
  .content .lista {
    margin-top: 40px;
    margin-left: 80px; }
    .content .lista li {
      margin-bottom: 5px;
      font-weight: 600; }
      .content .lista li span a {
        color: black; }

.mapa-sitio-seccion {
  margin-top: 30px; }

/* ---------------------- tirado sitemap hardcore --------------------------*/
@media screen and (min-width: 1270px) {
  .sitemap > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin: 0 auto 20px auto;
    border-top: solid 5px #0700B5;
    border-radius: 5px; }

  .sitemap ul {
    margin: 0;
    padding: 0;
    list-style: none; }

  .sitemap ul li.level-2 {
    float: left;
    width: 255px;
    padding-top: 20px;
    position: relative; }

  .sitemap ul .level-2 > span {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 231px;
    border-top: solid 5px #C50000;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .sitemap ul .level-2 > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-top: solid 5px #0700B5;
    z-index: 5;
    background: #fff;
    position: relative;
    border-radius: 5px; }

  .sitemap li:not([class]) {
    position: relative;
    float: left;
    width: 255px;
    padding-top: 20px;
    margin-right: 22px;
    position: relative; }

  .sitemap li:not([class]) > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-top: solid 5px #0700B5;
    z-index: 5;
    background: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

  .sitemap .sitemap li:not([class]):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #ddd;
    border-width: 1px;
    z-index: 0; }

  .sitemap ul li.level-3 {
    padding-top: 20px;
    padding-left: 30px; }

  .sitemap ul .level-3 > a {
    color: orange;
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 90%;
    border-top: solid 5px #0700B5;
    background: #fff;
    z-index: 3;
    position: relative;
    border-radius: 5px; }

  .sitemap > ul li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #ddd;
    border-width: 1px;
    z-index: 0; }

  .sitemap ul .level-3 {
    position: relative; }

  .sitemap ul .level-3:before {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 40px;
    height: 114px;
    border-top-style: none;
    border-left-style: solid;
    top: -60px;
    left: 10px;
    border-bottom: solid 1px #ddd; }

  .sitemap ul > li.level-2:first-child:before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    width: 860px;
    height: 49px;
    top: 5px;
    right: -13px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(2):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(3):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2:nth-child(3):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 5px;
    right: 8px;
    left: 90px; }

  .sitemap ul > li.level-2 {
    position: relative; }

  .sitemap ul > li.level-2:nth-child(5):after {
    border-top: solid 1px #ddd;
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 19px;
    height: 1px;
    top: 52px;
    right: 24px;
    left: 229px; }

  .sitemap ul > li.level-2:nth-child(6):after {
    border-top: solid 1px #ddd;
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 19px;
    height: 1px;
    top: 52px;
    right: 24px;
    left: 229px; }

  .sitemap > a {
    position: relative;
    background: #fff; }

  .sitemap > a:after {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 27px;
    top: 58px;
    right: 8px;
    left: 110px; }

  /* ---------------------- Transparency Sitemap --------------------------*/
  .transp-site-map {
    margin-left: 26px; }

  .transp-site-map > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin: 0 auto 0 auto;
    border-top: solid 5px #13477a;
    border-radius: 5px;
    position: relative; }

  .transp-site-map > a:after {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 37px;
    top: 58px;
    right: 3px;
    left: 96px; }

  .transp-site-map ul {
    margin: 0;
    padding: 0;
    list-style: none; }

  .transp-site-map ul li.level-3 {
    float: left;
    width: 262px;
    padding-top: 60px;
    position: relative; }

  .transp-site-map ul li.level-3 > a {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 241px;
    border-top: solid 5px #1394d0;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .transp-site-map ul li.level-3 > span {
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 241px;
    border-top: solid 5px #1394d0;
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 5px; }

  .transp-site-map ul li.level-4 {
    padding-top: 17px;
    padding-left: 30px;
    position: relative; }

  .transp-site-map ul .level-4 > a {
    color: orange;
    color: #3e3e3e;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    padding: 17px;
    width: 212px;
    border-top: solid 5px #7db902;
    background: #fff;
    z-index: 3;
    position: relative;
    border-radius: 5px; }

  .transp-site-map ul .level-4:before {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 40px;
    height: 114px;
    border-top-style: none;
    border-left-style: solid;
    top: -60px;
    left: 10px;
    border-bottom: solid 1px #ddd; }

  .transp-site-map ul > li.level-3:nth-child(2):before,
  .transp-site-map ul > li.level-3:nth-child(5):before,
  .transp-site-map ul > li.level-3:nth-child(8):before,
  .transp-site-map ul > li.level-3:nth-child(11):before,
  .transp-site-map ul > li.level-3:nth-child(14):before,
  .transp-site-map ul > li.level-3:nth-child(17):before {
    content: "";
    position: absolute;
    border-left: solid 1px #ddd;
    width: 14px;
    height: 49px;
    top: 35px;
    right: 8px;
    left: 118px; }

  .transp-site-map li.level-3:nth-child(16),
  .transp-site-map li.level-3:nth-child(17),
  .transp-site-map li.level-3:nth-child(18) {
    min-height: 1240px; }

  .transp-site-map li.level-3:first-child:before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    border-bottom: none;
    width: 570px;
    height: 49px;
    top: 35px;
    right: -13px;
    left: 90px; }

  .transp-site-map li.level-3:nth-child(4):before,
  .transp-site-map li.level-3:nth-child(7):before,
  .transp-site-map li.level-3:nth-child(10):before,
  .transp-site-map li.level-3:nth-child(13):before,
  .transp-site-map li.level-3:nth-child(16):before,
  .transp-site-map li.level-3:nth-child(19):before {
    content: "";
    position: absolute;
    border: solid 1px #ddd;
    border-bottom: none;
    width: 570px;
    height: 49px;
    top: 35px;
    right: -13px;
    left: 90px; }

  .transp-site-map li.level-3:nth-child(19):before {
    width: 300px; }

  .transp-site-map li.level-3:nth-child(1):after,
  .transp-site-map li.level-3:nth-child(4):after,
  .transp-site-map li.level-3:nth-child(7):after,
  .transp-site-map li.level-3:nth-child(10):after,
  .transp-site-map li.level-3:nth-child(13):after,
  .transp-site-map li.level-3:nth-child(16):after {
    content: "";
    position: absolute;
    border-color: #ddd;
    border-width: 1px;
    z-index: 1;
    width: 120px;
    height: 125px;
    border-top-style: solid;
    border-left-style: solid;
    top: 35px;
    left: -20px;
    border-bottom: solid 1px #ddd; }

  .transp-site-map li.level-3:nth-child(4):after {
    height: 692px; }

  .transp-site-map li.level-3:nth-child(13):after {
    height: 149px; }

  .transp-site-map li.level-3:nth-child(16):after {
    height: 1241px; }

  .responsive-sitemap {
    display: block;
    width: 100%;
    margin-top: 80px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-left: 13%; }

  .sitemap {
    width: 100%; }

  .transp-site-map {
    width: 797px; }

  .error-404 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    min-width: 270px;
    max-width: 500px;
    border-radius: 10px;
    padding-top: 0; }

  .error-404 .title-404 {
    font-size: 94px;
    color: #008CCA;
    margin: 0; }

  .error-404 .bar-404 {
    background: #008CCA;
    padding: 17px 38px;
    margin-left: -40px;
    margin-right: -40px;
    color: #fff;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    font-size: 21px;
    border-radius: 10px; }

  .error-404 p.text-404 {
    padding: 20px 0;
    margin: 0; }

  .error-404 p.option-404 {
    display: block;
    margin: 0; }

  .error-404 a {
    color: #008CCA; }

  #accordion .btn.btn-link {
    text-align: left !important;
    white-space: normal !important; }

  .text-danger {
    color: #ffa329;
    font-weight: 100;
    top: 5px; }

  .tasa-block .ver-mas {
    color: #fff;
    padding: 5px 24px;
    background: #1394D0;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block; } }
.tabs-services {
  width: 100%; }
  .tabs-services .nav-tabs {
    padding-left: 26px; }
    .tabs-services .nav-tabs .nav-link {
      padding: 7px 100px;
      font-size: 19px;
      color: #0700B5;
      transition: 0.3s; }
    .tabs-services .nav-tabs .active {
      background-color: #0700B5;
      color: white; }
  .tabs-services .card-header {
    background-color: white;
    width: 100%; }
    .tabs-services .card-header .btn {
      color: black;
      font-size: 15px; }
  .tabs-services .card-body {
    padding: 50px; }
  .tabs-services h5 {
    font-weight: bold;
    font-size: 15px;
    color: #0700B5;
    margin-bottom: 10px; }
  .tabs-services p {
    font-size: 12px; }
  .tabs-services ol {
    margin-left: 50px;
    font-size: 12px; }

.buscador {
  background-color: #0700B5;
  position: relative;
  z-index: 0;
  min-height: 60px;
  margin-top: -34px; }
  .buscador .input-group {
    margin-top: 10px;
    max-width: 400px; }
    .buscador .input-group .input-group-text {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: white;
      border-right: none; }
    .buscador .input-group .input-group-prepend, .buscador .input-group input {
      border-radius: 30px; }
  .buscador h4 {
    color: white;
    margin-top: 15px; }

.buscador-plus {
  background-color: #0700B5;
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 66px;
  position: fixed;
  min-height: 60px;
  /* margin-top: -34px; */ }
  .buscador-plus .input-group {
    margin-top: 10px;
    max-width: 400px; }
    .buscador-plus .input-group .input-group-text {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: white;
      border-right: none; }
    .buscador-plus .input-group .input-group-prepend, .buscador-plus .input-group input {
      border-radius: 30px; }
  .buscador-plus h4 {
    color: white;
    margin-top: 15px; }

.foro-container {
  margin-top: 0px;
  padding-top: 40px;
  background-color: white; }
  .foro-container h3 {
    margin-bottom: 0px !important;
    text-align: left;
    font-weight: 800;
    font-size: 32px; }
  .foro-container h4 {
    text-align: left; }
  .foro-container p {
    margin-top: 0px !important;
    font-size: 15px !important; }
  .foro-container .titulo {
    width: 50% !important; }
    .foro-container .titulo h3 {
      text-align: left;
      font-weight: 800; }
    @media screen and (max-width: 600px) {
      .foro-container .titulo {
        width: 100% !important; } }

.blog-container {
  background-color: white;
  padding-top: 0px;
  text-align: right;
  display: flex; }
  .blog-container h3 {
    text-align: left; }
  .blog-container .temas .row {
    margin-top: 40px; }
  .blog-container img {
    width: 100%;
    margin-bottom: 15px; }
  .blog-container h4 {
    font-size: 28px !important;
    font-weight: lighter;
    color: black;
    margin: 0;
    padding-left: 0px; }
  .blog-container h2 {
    font-weight: 800; }
  .blog-container h5 {
    font-size: 15px;
    font-weight: normal; }
  .blog-container p {
    font-size: 11px; }
  .blog-container .left p {
    font-weight: bold !important;
    font-style: oblique;
    font-size: 11px;
    text-align: right !important;
    margin-top: 12px; }
  .blog-container .panel {
    text-align: left !important; }
    .blog-container .panel p {
      font-weight: normal !important;
      font-size: 12px;
      padding-left: 0px; }
    .blog-container .panel h3 {
      font-weight: 800;
      font-size: 24px;
      color: #0700B5;
      margin-left: -15px !important; }
    .blog-container .panel .link h2 {
      text-align: center;
      font-size: 40px; }
  .blog-container .btn {
    width: 100%;
    background-color: #2789D1;
    border: solid 1px #2789D1; }
  .blog-container .btn:hover {
    color: #2789D1; }
  .blog-container form .btn {
    max-width: 200px; }
  .blog-container .respuesta {
    background-color: #F4F4F4;
    padding: 5px; }
    .blog-container .respuesta .row {
      margin-top: 15px; }
    .blog-container .respuesta .valoraciones p {
      text-align: right !important; }
      .blog-container .respuesta .valoraciones p .fas {
        color: #C50000;
        font-size: 16px;
        margin-left: 5px; }
    .blog-container .respuesta img {
      width: 80%; }
    .blog-container .respuesta .btn {
      font-size: 12px;
      margin-top: -5px; }
  .blog-container .contra-respuesta {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px; }
    .blog-container .contra-respuesta img {
      width: 50%; }
    .blog-container .contra-respuesta h5 {
      font-size: 13px; }
    .blog-container .contra-respuesta .valoraciones .row {
      margin-top: 0px; }
      .blog-container .contra-respuesta .valoraciones .row a {
        color: #C50000;
        font-size: 15px;
        margin-right: -15px !important; }
  .blog-container p {
    padding-left: 0px !important; }
  .blog-container .fas {
    color: #C50000;
    margin-left: 5px;
    font-size: 16px; }
  .blog-container .header-categorias .row .col-sm-7 {
    padding-left: 0px !important; }
  .blog-container .header-categorias .row h2 {
    margin-top: 22px; }
  .blog-container .header-categorias .row img {
    width: 80%;
    display: block;
    margin: 0px auto; }
  .blog-container .banner-top {
    margin-top: 40px !important; }
  .blog-container .cuadro-debate .btn {
    font-size: 12px;
    width: 100%;
    padding: 7px; }

.regresar .btn {
  background-color: #0700B5;
  border-radius: 0px;
  max-width: 300px;
  border: none; }

.img-intereses img {
  width: 100%; }
.img-intereses p {
  font-weight: bold;
  text-align: center !important;
  font-size: 15px; }

@media screen and (max-width: 991px) {
  .punto-solidario-normal {
    max-height: 300px;
    position: relative !important;
    padding-left: 0px;
    padding-right: 0px; }
    .punto-solidario-normal .top-mobile {
      display: block; }
    .punto-solidario-normal .divider {
      width: 100%;
      height: 2px; }
    .punto-solidario-normal .logo-top-mobile {
      display: block !important;
      margin: 10px auto; } }
    @media screen and (max-width: 991px) and (max-width: 350px) {
      .punto-solidario-normal .logo-top-mobile {
        width: 250px; } }
@media screen and (max-width: 991px) {
    .punto-solidario-normal hr {
      display: block;
      margin-bottom: 0px; } }
@media screen and (max-width: 991px) {
  .punto-solidario-normal .navbar {
    padding: 10px !important; }
    .punto-solidario-normal .navbar form {
      display: inline-block !important;
      width: 90% !important; }
      .punto-solidario-normal .navbar form input {
        width: 100% !important;
        border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 83% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 665px) {
  .punto-solidario-normal .navbar form {
    width: 80% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }
@media screen and (max-width: 350px) {
  .punto-solidario-normal .navbar form {
    width: 77% !important; }
    .punto-solidario-normal .navbar form input {
      width: 100% !important;
      border-radius: 0px; } }

.btn-mobile .btn {
  margin: 20px auto !important;
  min-width: 290px;
  min-height: 41px;
  border: none;
  border-radius: 0px;
  font-family: 'montserrat', sans-serif; }
.btn-mobile .btn:hover {
  background-color: black; }
.btn-mobile .btn-1 {
  background-color: #C50000; }
.btn-mobile .btn-2 {
  background-color: #0700B5; }

@media screen and (max-width: 1310px) {
  .content .responsive-sitemap {
    margin-top: 30px;
    padding-left: 7% !important; } }
@media screen and (max-width: 1200px) {
  .blog-container h4 {
    font-size: 18px !important; }
  .blog-container h2 {
    font-size: 23px; }
  .blog-container h5 {
    font-size: 13px; } }
@media screen and (max-width: 991px) {
  .escudo-top {
    display: block !important;
    margin: 0px auto;
    padding-top: 20px;
    width: 250px; }

  .content-slider {
    margin-top: -1px;
    text-align: left; }
    .content-slider h1 {
      font-size: 40px;
      text-align: left; }
    .content-slider p {
      font-size: 20px;
      text-align: left; }

  .content-slider .carousel .carousel-inner .carousel-item {
    height: 450px !important; }
    .content-slider .carousel .carousel-inner .carousel-item .carousel-caption {
      bottom: 120px; }

  .blog-container h4 {
    display: none; }
  .blog-container h2 {
    margin-top: 5px; }

  .link-sites h3 {
    font-size: 1.25rem !important; }

  .forms {
    padding: 50px 20px; }
    .forms p {
      margin-bottom: 50px; }
    .forms form, .forms .btn {
      margin-top: 20px; }

  .values p {
    text-align: justify; }

  .banner-preguntas {
    margin-top: -1px; }

  .contac-form P {
    margin-bottom: 20px; }

  .content {
    margin-top: 20px; } }
@media screen and (max-width: 768px) {
  .btns {
    margin-top: 50px; }

  .about-ps {
    padding: 74px 20px; }

  .middle-resume .logo {
    margin-bottom: 54px; }

  .news {
    padding: 50px 20px; }
    .news h4 {
      font-size: 18px; }
    .news p {
      font-size: 12px; }

  footer .enlaces {
    flex-flow: row wrap; }
    footer .enlaces .en {
      margin: 20px; }
    footer .enlaces .e5 {
      margin-right: 0px;
      width: 170px; }
    footer .enlaces .e6 {
      margin-left: 0px; }

  .banner-preguntas {
    min-height: 100px !important; }
    .banner-preguntas .jumbotron {
      padding: 34px; }
      .banner-preguntas .jumbotron h1 {
        font-size: 40px; }
      .banner-preguntas .jumbotron p {
        font-size: 18px; }

  .values {
    padding-top: 0px; } }
@media screen and (max-width: 700px) {
  .link-sites {
    flex-flow: column; }
    .link-sites .foro,
    .link-sites .psweb,
    .link-sites .servicio-en-linea {
      width: 100%; } }
@media screen and (max-width: 450px) {
  .punto-solidario-normal {
    padding-left: 0px;
    padding-right: 0px; }

  .carousel .carousel-inner {
    height: 245px; }
    .carousel .carousel-inner .carousel-item {
      height: 245px; }
      .carousel .carousel-inner .carousel-item img {
        height: 245px;
        width: auto !important; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        bottom: 233px !important; }
        .carousel .carousel-inner .carousel-item .carousel-caption h1 {
          font-size: 20px; }
        .carousel .carousel-inner .carousel-item .carousel-caption p {
          font-size: 12px; }

  .btn-mobile .btn {
    min-width: 167px; }
  .btn-mobile .btns {
    margin-top: 30px;
    margin-bottom: 30px; }
    .btn-mobile .btns .btn-1 {
      width: 147px;
      font-size: 10px; }
    .btn-mobile .btns .btn-2 {
      width: 147px;
      font-size: 10px; }

  .middle-resume .logo {
    display: none !important; }
  .middle-resume .mobile-logo {
    display: inline-block;
    width: 30px;
    margin-left: 6px; }
  .middle-resume h2 {
    font-size: 15px;
    text-align: left !important; }
  .middle-resume p {
    font-size: 12px;
    text-align: left !important; }
  .middle-resume .divider {
    width: 100%;
    height: 1px; }

  .about-ps {
    padding: 0px 0px 74px 0px; }
    .about-ps h4 {
      font-size: 15px; }
    .about-ps p {
      font-size: 12px;
      text-align: justify; }
    .about-ps .video {
      height: auto; }

  .news {
    padding: 50px 0px; }
    .news h1 {
      font-size: 25px; }

  .forms {
    padding: 30px 20px;
    min-height: auto; }
    .forms h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 0px; }
    .forms p {
      font-size: 12px;
      text-align: left !important; }

  footer .e1 {
    order: 1; }
  footer .e2 {
    order: 2; }
  footer .e3 {
    order: 4; }
  footer .e4 {
    order: 3; }
  footer .e5 {
    order: 5; }
  footer .e6 {
    order: 6;
    align-items: center; }
  footer .info-footer p {
    font-size: 13px; }

  .values h3 {
    font-size: 25px; }
  .values p {
    font-size: 12px; }
  .values .card-body {
    font-size: 12px; }

  .body-news-captain .notice p {
    font-size: 12px; }

  .contact h1 {
    font-size: 25px; }
  .contact p {
    font-size: 12px;
    text-align: justify; }

  .contac-form {
    padding: 50px 20px; }
    .contac-form h1 {
      font-size: 25px;
      text-align: left !important;
      padding-top: 30px; }
    .contac-form p {
      text-align: left !important;
      margin-bottom: 60px; }
    .contac-form form, .contac-form textarea {
      margin-top: 10px; } }
@media screen and (max-width: 330px) {
  .content-slider .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 20px !important; }

  .btn-mobile .btn-2 {
    margin-top: 0px !important; }

  .intereses h3 {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
