$rojo-solidario: #C50000;
$morado-solidario:#0700B5;

.content-slider .carousel .carousel-inner .carousel-item .carousel-caption{
    @media screen and (max-width:1440px){
        margin-bottom: 6%;
    
    }
    @media screen and (max-width:1100px){
        margin-bottom: 20px;
    
    }
    
}

header{
    @media screen and (max-width:992px){
        max-height: 300px;
    }
    .navbar{
        @media screen and (max-width:992px){
            padding: 10px !important;
        }
    }
}

.btn-mobile{
    .btn{
        margin: 20px auto !important;
        min-width: 290px;
        min-height: 41px;
        border:none;
        border-radius: 0px;
        font-family: 'montserrat', sans-serif;
    }
    .btn:hover{
        background-color: black;
    }
    .btn-1{
        background-color: $rojo-solidario;
    }
    .btn-2{
        background-color: $morado-solidario;
    }
}

// genral

@media screen and (max-width:992px){
    .content-slider{
        margin-top: 52px;
        text-align: left;
        .carousel-caption{
            // margin-bottom: 20px;
        }
        h1{
            font-size: 40px;
            text-align: left;
        }
        p{
            font-size: 20px;
            text-align: left;
        }
    }
}

@media screen and (max-width:768px){
    .btns{
        margin-top: 50px;
    }
    .about-ps{
        padding: 74px 20px;
    }
    .middle-resume {
        .logo{
            margin-bottom: 54px;
        }
    }
    .link-sites{
        h3{
            font-size: 1.25rem; 
        }
    }
    .news{
        padding:50px 20px;
        h4{
            font-size: 18px;
        }
        p{
            font-size: 12px;
        }
    }
    .forms{
        padding: 50px 20px;
        p{
            margin-bottom: 50px;
        }
        form, .btn{
            margin-top: 20px;
        }
    }
    footer{
        .enlaces{
            flex-flow: row wrap;
            .en{
                margin: 20px;
            }
            .e5{
                margin-right: 0px;
                width: 170px;
            }
            .e6{
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width:700px){
    .link-sites{
        flex-flow: column;
        .foro,
        .psweb,
        .servicio-en-linea{
            width: 100%;
        }
    }
}

@media screen and (max-width:415px){
    .carousel{
        .carousel-inner{
            height: 245px;
            .carousel-item{
                height: 245px;
                img{
                    height: 245px;
                    width: auto !important;
                }
                .carousel-caption{
                    display: block !important;
                    margin-bottom: 12px;
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .btn-mobile{
        .btns{
            .btn-1{
                width: 147px;
            font-size: 10px;
            }
            .btn-2{
                width: 147px;
            font-size: 10px;
            }
        }
    }
    .middle-resume{
        text-align: left;
        .logo{
            display: none !important;
        }
        h2{
            font-size: 20px;
        }
        p{
            font-size: 12px;
            text-align: left !important;
        }
        .divider{
            width: 200px;
        }
    }
}